<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<dict>
		<key>pagename</key>
		<string>home</string>
		<key>pagedefinition</key>
		<string>安全主页</string>
		<key>pageclass</key>
		<string>G100SecurityViewController</string>
	</dict>
	<key>biketrace</key>
	<dict>
		<key>pagename</key>
		<string>biketrace</string>
		<key>pagedefinition</key>
		<string>实时追踪</string>
		<key>pageclass</key>
		<string>G100DevGPSViewController</string>
	</dict>
	<key>securitysetting</key>
	<dict>
		<key>pagename</key>
		<string>securitysetting</string>
		<key>pagedefinition</key>
		<string>设置</string>
		<key>pageclass</key>
		<string>G100FunctionViewController</string>
	</dict>
	<key>servicestatus</key>
	<dict>
		<key>pagename</key>
		<string>servicestatus</string>
		<key>pagedefinition</key>
		<string>服务状态</string>
		<key>pageclass</key>
		<string>G100ServiceViewController</string>
	</dict>
	<key>bikeusagereport</key>
	<dict>
		<key>pagename</key>
		<string>bikeusagereport</string>
		<key>pagedefinition</key>
		<string>用车报告</string>
		<key>pageclass</key>
		<string>G100DevLogsViewController</string>
	</dict>
	<key>my</key>
	<dict>
		<key>pagename</key>
		<string>my</string>
		<key>pagedefinition</key>
		<string>我的</string>
		<key>pageclass</key>
		<string>G100PersonProfileViewController</string>
	</dict>
	<key>mybikes</key>
	<dict>
		<key>pagename</key>
		<string>mybikes</string>
		<key>pagedefinition</key>
		<string>我的车辆</string>
		<key>pageclass</key>
		<string>G100CarManageViewController</string>
	</dict>
	<key>mybikes_add</key>
	<dict>
		<key>pagename</key>
		<string>mybikes_add</string>
		<key>pagedefinition</key>
		<string>绑定车辆</string>
		<key>pageclass</key>
		<string>G100BindDevViewController</string>
	</dict>
	<key>insurance</key>
	<dict>
		<key>pagename</key>
		<string>insurance</string>
		<key>pagedefinition</key>
		<string>我的保险</string>
		<key>pageclass</key>
		<string>G100MyInsurancesViewController</string>
	</dict>
	<key>myorders</key>
	<dict>
		<key>pagename</key>
		<string>myorders</string>
		<key>pagedefinition</key>
		<string>我的订单</string>
		<key>pageclass</key>
		<string>G100MyOrderViewController</string>
	</dict>
	<key>securityscore</key>
	<dict>
		<key>pagename</key>
		<string>securityscore</string>
		<key>pagedefinition</key>
		<string>安全评分</string>
		<key>pageclass</key>
		<string>G100ScanViewController</string>
	</dict>
	<key>profile</key>
	<dict>
		<key>pagename</key>
		<string>profile</string>
		<key>pagedefinition</key>
		<string>个人资料</string>
		<key>pageclass</key>
		<string>G100PersonProfileViewController</string>
	</dict>
	<key>profile_nickname</key>
	<dict>
		<key>pagename</key>
		<string>profile_nickname</string>
		<key>pagedefinition</key>
		<string>修改昵称</string>
		<key>pageclass</key>
		<string>ModifyUsernameViewController</string>
	</dict>
	<key>profile_otheraccount</key>
	<dict>
		<key>pagename</key>
		<string>profile_otheraccount</string>
		<key>pagedefinition</key>
		<string>第三方帐号</string>
		<key>pageclass</key>
		<string>ThirdAccountViewController</string>
	</dict>
	<key>profile_modifypassword</key>
	<dict>
		<key>pagename</key>
		<string>profile_modifypassword</string>
		<key>pagedefinition</key>
		<string>修改密码</string>
		<key>pageclass</key>
		<string>ChangePasswordViewController</string>
	</dict>
	<key>profile_modifyphonenum</key>
	<dict>
		<key>pagename</key>
		<string>profile_modifyphonenum</string>
		<key>pagedefinition</key>
		<string>修改手机号</string>
		<key>pageclass</key>
		<string>ChangePhoneNumViewController</string>
	</dict>
	<key>offlinemap</key>
	<dict>
		<key>pagename</key>
		<string>offlinemap</string>
		<key>pagedefinition</key>
		<string>离线地图</string>
		<key>pageclass</key>
		<string>G100AMapOfflineMapViewController</string>
	</dict>
	<key>about</key>
	<dict>
		<key>pagename</key>
		<string>about</string>
		<key>pagedefinition</key>
		<string>关于我们</string>
		<key>pageclass</key>
		<string>G100AboutUsViewController</string>
	</dict>
</dict>
</plist>
